<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.pravera.flutter_foreground_task.refresh</string>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FIX FATE</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>需要存取您的音樂資料以支援裝置同步功能</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>本 App 透過藍牙與智慧戒指等穿戴裝置配對，以同步使用者的心率、體溫、睡眠等生理數據，供健康趨勢參考與個人化提醒使用。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>本 App 透過藍牙與智慧戒指等穿戴裝置配對，以同步使用者的心率、體溫、睡眠等生理數據，供健康趨勢參考與個人化提醒使用。</string>
	<key>NSCameraUsageDescription</key>
	<string>此 App 使用相機功能，讓使用者可拍攝頭像作為個人資料顯示，並用於掃描 QR Code 快速分享健康資料給家庭成員。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>為追蹤運動距離、步數統計和確保健康數據同步完整性，需要背景定位權限</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>為追蹤運動距離和步數，提供完整的健身監測功能，需要使用定位和運動感測器</string>
	<key>NSLocationUsageDescription</key>
	<string>此App需要定位權限來提供運動追蹤和健康監測服務</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>我們需要您的允許來儲存照片至相簿</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要存取相簿來選取圖片</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>我們需要通知權限來提醒您裝置狀態變化</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSMotionUsageDescription</key>
	<string>為追蹤運動步數和提供精確的健身數據，需要訪問運動和健身感測器</string>

</dict>
</plist>
